.footer{
    background-color: #272727;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
 
    bottom: 0;
    margin-top: 40px;
    font-weight: bold;

}
.contenido{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.footer a{
    color: #00c8ff;
    text-decoration: none;
    margin: 0 15px ;
}

.footer a:hover{
    text-decoration: underline;
}
.redireccion{
    width: 20%;
    text-align: left;
    padding-left: 20px;
    
}
.redireccion a{
   margin: 30px;

    flex-direction: column;
}
br{
    margin: 25px;
}
.mapa{
    width: 80%;
    text-align: right;
    padding-right: 20px;
}
p{
    margin-top: 20px;
}