.slider{
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
}
.slide{
    display: none;
}
.slide.active{
    display: block;
}
button{
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.anterior{
    left:0;
}
.siguiente{
    right: 0;
}