<div class="slider">
    <div class="slide active">
        <img src="https://tecstore.pe/media/catalog/category/TEC_Banner-Web_Categoria_CELULARES.jpg" alt="Slide1">
    </div>
    <div class="slide">
        <img src="https://tecstore.pe/media/amasty/bundle/frontend/TEC_STORE_Semana_3_Celulares_Banner_Web_Cat_Desktop.jpg" alt="Slide2">
    </div>
    <div class="slide">
        <img src="https://tecstore.pe/media/Banner_smartwatch_1_.png" alt="Slide3">
    </div>
    <button class="anterior" (click)="anteriorSlide()" >&#10094;</button>
    <button class="siguiente" (click)="siguienteSlide()">&#10095;</button>
</div>