body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.producto{
    background:#fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.producto h2{
    margin: 0 0 10px;
}
.producto a{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background: blueviolet;
    color: #fff;
    width: 100px;
    height: 25px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
}
.producto a:hover{
    background:blue;
}