<mat-tab-group>
    <mat-tab
        label="Opcion 1"
    >
        <button mat-flat-button>Boton de Prueba</button>
    </mat-tab>
    <mat-tab
        label="Opcion 2"
    >
        <img src="https://codingpotions.com/assets/images/notes/angular-intro/que-es-angular.jpg" width="550px">
    </mat-tab>
    <mat-tab
        label="Opcion 3"
    >
        <h1>Pantalla 3</h1>
        <form>
            <mat-form-field>
                <mat-label>Ingrese su Nombre: </mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-icon >download_2</mat-icon>
        </form>
    </mat-tab>
</mat-tab-group>