<mat-tab-group >
    <mat-tab 
        label="Inicio"
    >
    <ng-template mat-tab-label>
        <mat-icon>
            face
        </mat-icon>
         Prueba
    </ng-template>
       
        <h3>Pantalla Inicio</h3>
        <button mat-button>Boton Prueba</button>
        <br>
        <button mat-raised-button>Prueba 2</button>
        <br>
        <button mat-flat-button>Prueba</button>
         <br>
        <button mat-icon-button>
            <mat-icon>public</mat-icon>
        </button>
        <button mat-fab extended>
            <mat-icon>face</mat-icon>
             Prueba
        </button>
    </mat-tab>

    <mat-tab
        label="Productos"
    >
    <app-card></app-card>

    </mat-tab>

    <mat-tab
        label="Contactos"
    >
    <app-listas/>


    </mat-tab>

    <mat-tab
        label="Servicios"
    >
   <button mat-button (click)="mostrarAlerta()"> Probar Alertas </button>

    </mat-tab>
    <mat-tab
    label="Quienes Somos"
>
<h2>Pantalla Quienes Somos</h2>

</mat-tab>

</mat-tab-group>