<app-barra-navegacion></app-barra-navegacion>
<app-cuerpo></app-cuerpo>
<div class="datos">
    <app-datos
    [nombre]="'Producto 1'"
    [descripcion]="'descripcion 1'"
    [precio]="1200"
    [imagenUrl]="'https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/d/i/dise_o_sin_t_tulo_27_.png'"
>
</app-datos>
<app-datos
    [nombre]="'Producto 2'"
    [descripcion]="'descripcion 2'"
    [precio]="2200"
    [imagenUrl]="'https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/d/i/dise_o_sin_t_tulo_27_.png'"
>
</app-datos>
<app-datos
    [nombre]="'Producto 3'"
    [descripcion]="'descripcion 3'"
    [precio]="2200"
    [imagenUrl]="'https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/d/i/dise_o_sin_t_tulo_27_.png'"
>
</app-datos>
<app-datos
    [nombre]="'Producto 4'"
    [descripcion]="'descripcion 4'"
    [precio]="2200"
    [imagenUrl]="'https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/d/i/dise_o_sin_t_tulo_27_.png'"
>
</app-datos>
<app-datos
    [nombre]="'Producto 5'"
    [descripcion]="'descripcion 5'"
    [precio]="2200"
    [imagenUrl]="'https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/d/i/dise_o_sin_t_tulo_27_.png'"
>
</app-datos>
<app-datos
    [nombre]="'Producto 6'"
    [descripcion]="'descripcion 6'"
    [precio]="1200"
    [imagenUrl]="'https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/d/i/dise_o_sin_t_tulo_27_.png'"
>
</app-datos>
<app-datos
    [nombre]="'Producto 7'"
    [descripcion]="'descripcion 7'"
    [precio]="2200"
    [imagenUrl]="'https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/d/i/dise_o_sin_t_tulo_27_.png'"
>
</app-datos>
<app-datos
    [nombre]="'Producto 8'"
    [descripcion]="'descripcion 8'"
    [precio]="2200"
    [imagenUrl]="'https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/d/i/dise_o_sin_t_tulo_27_.png'"
>
</app-datos>
<app-datos
    [nombre]="'Producto 9'"
    [descripcion]="'descripcion 9'"
    [precio]="2200"
    [imagenUrl]="'https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/d/i/dise_o_sin_t_tulo_27_.png'"
>
</app-datos>
<app-datos
    [nombre]="'Producto 10'"
    [descripcion]="'descripcion 10'"
    [precio]="2200"
    [imagenUrl]="'https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/d/i/dise_o_sin_t_tulo_27_.png'"
>
</app-datos>

</div>
<br>
<div class="datos">
    <app-datos2
    *ngFor="let producto of productos"
    [nombre]="producto.nombre"
    [descripcion]="producto.descripcion"
    [precio]="producto.precio"
    [imagenUrl]="producto.imagenUrl"
    ></app-datos2>
</div>

<app-footer></app-footer>
<router-outlet />
