<div class="sitio">
    <h1>Sitio Web</h1>
    <img src="https://codingpotions.com/assets/images/notes/angular-intro/que-es-angular.jpg" alt="">

    <form>
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre">

        <label for="celular">Celular: </label>
        <input type="number" name="celular" id="celular">

        <label for="fechaNacimiento">Fecha de Nacimiento: </label>
        <input type="date" name="fechaNacimiento" id="fechaNacimiento">
    </form>
</div>
